<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>工时分配记录</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="../static/api/bootstrap/bootstrap.min.css" th:href="@{/api/bootstrap/bootstrap.min.css}"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/api/bootstrap-table/bootstrap-table.css"
          th:href="@{/api/bootstrap-table/bootstrap-table.css}">
    <link rel="stylesheet" href="../static/api/bootstrapValidator/css/bootstrapValidator.min.css"
          th:href="@{/api/bootstrapValidator/css/bootstrapValidator.min.css}">
    <link rel="stylesheet" th:href="@{/api/bootstrap/plugins/upload/css/fileinput.min.css}"
          href="../static/api/bootstrap/plugins/upload/css/fileinput.min.css">
    <link rel="stylesheet" th:href="@{/css/commons.css}" href="../static/css/commons.css">

    <link rel="stylesheet" href="../static/api/layui/css/layui.css" th:href="@{/api/layui/css/layui.css}">
    <link rel="stylesheet" href="../static/api/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
          th:href="@{/api/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}">

    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .navbar {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<input type="hidden" id="basePath" th:value="@{/}">
<div class="container">
    <a th:href="@{/}" style="display: none" id="baseUrlA"></a>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">需求管理系统</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/demand/}">需求管理</a></li>
                    <li><a th:href="@{/card/}">打卡管理</a></li>
                    <li class="active"><a th:href="@{/allot/}">分配工时管理</a></li>
                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
                    <!--aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">Action</a></li>-->
                    <!--<li><a href="#">Another action</a></li>-->
                    <!--<li><a href="#">Something else here</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li class="dropdown-header">Nav header</li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                    <!--<li><a href="#">One more separated link</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>-->
                    <!--<li><a href="../navbar-static-top/">Static top</a></li>-->
                    <!--<li><a href="../navbar-fixed-top/">Fixed top</a></li>-->
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <div class="panel panel-default">
        <div class="panel-heading">打卡记录管理</div>
        <div class="panel-body">
            <div class="panel" style="margin-bottom:0px; border: solid 1px #eee;">
                <div class="panel-heading"
                     style="font-weight: bold; background-color: #f5fafe; border-bottom: solid 1px #eee;">查询条件
                    <span style="float:right;">
	            	<p class="qry-btn" style="text-decoration: none;" onclick="doQuery()">
						<span class="glyphicon glyphicon-search"></span>查询
	            	</p>
				</span>
                </div>
                <form id="formSearch" class="form-horizontal">
                    <div class="form-group" style="margin:12px 0 0 0;">
                        <span class="control-label col-sm-2" style="width: 10%;">
                            员工姓名
                        </span>
                        <div class="col-sm-4" style="margin-bottom:12px; width: 18%">
                            <input type="text" class="form-control" id="search_userName">
                        </div>
                        <span class="control-label col-sm-2" style="width: 10%;">
                            开始日期
                        </span>
                        <div class="col-sm-4" style="margin-bottom:12px; width: 18%;">
                            <div class="input-append date form_datetime ">
                                <input type="text" class="form-control" id="search_start_date" readonly>
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                        </div>
                        <span class="control-label col-sm-2" style="width: 10%;">
                            结束日期
                        </span>
                        <div class="col-sm-4" style="margin-bottom:12px; width: 18%;">
                            <div class="input-append date form_datetime ">
                                <input type="text" class="form-control" id="search_end_date" readonly>
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group" style="margin:12px 0 0 0;">
                             <span class="control-label col-sm-2" style="width: 10%;">
                                需求编码
                            </span>
                        <div class="col-sm-4" style="margin-bottom:12px; width: 18%;">
                            <input type="text" class="form-control" id="search_code">
                        </div>
                        <span class="control-label col-sm-2" style="width: 10%;">
                                需求名称
                            </span>
                        <div class="col-sm-4" style="margin-bottom:12px; width: 18%;">
                            <input type="text" class="form-control" id="search_name">
                        </div>
                    </div>
                </form>
            </div>
            <div id="toolbar" class="btn-group" style="margin-top: 15px;margin-bottom: 15px;">
                <button id="btn_export" type="button" class="btn btn-default" onclick="download()">
                    <span class="glyphicon glyphicon-export"></span>导出分配记录
                </button>
                <button id="btn_delete" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-export	"></span>删除分配记录
                </button>
            </div>
            <table id="allotInfoTable"></table>
        </div>
    </div>
</div> <!-- /container -->

<script th:src="@{/api/jquery/jquery-2.1.1.min.js}" src="../static/api/jquery/jquery-2.1.1.min.js"></script>
<script th:src="@{/api/bootstrap/bootstrap.min.js}" src="../static/api/bootstrap/bootstrap.min.js"></script>
<script th:src="@{/api/bootstrap-table/bootstrap-table.js}"
        src="../static/api/bootstrap-table/bootstrap-table.js"></script>
<script th:src="@{/api/bootstrap-table/locale/bootstrap-table-zh-CN.js}"
        src="../static/api/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<script th:src="@{/api/bootstrapValidator/js/bootstrapValidator.min.js}"
        src="../static/api/bootstrapValidator/js/bootstrapValidator.min.js"></script>
<script th:src="@{/api/bootstrapValidator/js/language/zh_CN.js}"
        src="../static/api/bootstrapValidator/js/language/zh_CN.js"></script>
<script th:src="@{/api/bootstrap/plugins/upload/js/fileinput.min.js}"
        src="../static/api/bootstrap/plugins/upload/js/fileinput.min.js"></script>
<script src="../static/api/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"
        th:src="@{/api/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>

<script src="../static/api/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"
        th:src="@{/api/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
<script th:src="@{/api/layui/layui.all.js}"
        src="../static/api/layui/layui.all.js"></script>
<script src="../static/js/allot/allot.js" th:src="@{/js/allot/allot.js}"></script>
<script src="../static/js/commons.js" th:src="@{/js/commons.js}"></script>
</body>
</html>